.form {
  .horarios {
    padding: 1rem;
    border: solid 1px #d1dae2;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 3rem;
    >e-button {
      grid-column: 1/-1;
    }
    .horario {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.col-1 {
  grid-column: 1/2;
}
.col-2 {
  grid-column: 2/4;
}
.col-3 {
  grid-column: 3;
}

@media (max-width: 1080px) {
  .form {
    .horarios {
      grid-template-columns: 1fr;
    }
  }
}
