<div class="user">
    <div class="photo">
        <img src="assets/images/user-icon.png"
            alt="profile image">
    </div>
    <div class="data">
        <div class="name">{{tokenService.getUsuario()!.nombres}}</div>
        <div class="email">{{tokenService.getUsuario()!.email}}</div>
    </div>
    <button class="action a-active"><i class="fas fa-sort-down"></i></button>

    <div class="options">
        <div class="option" (click)="tokenService.logOut()">
            <i class="fas fa-power-off"></i> Cerrar Sesion
        </div>
    </div>
</div>