<div class="form">

    <div class="title-l">Citas</div>
    <div class="options">
        <e-button desc="Nuevo" [routerLink]="['/admin/cita/form']"></e-button>
        <e-input desc="Buscar" placeholder="Buscar..." (echange)="search($event)"></e-input>
    </div>
    <div *ngIf="pagination.content.length==0" class="title">No se encontraron registros <br><br></div>
    <table *ngIf="pagination.content.length>0" align="center">
        <thead align="center">
            <tr>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Especialidad</th>
                <th>Doctor</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr *ngFor="let item of pagination.content">
                <td>{{item.fecha.replace('0:00:00','') }}</td>
                <td>{{item.horario.inicio}} - {{item.horario.fin}}</td>
                <td>{{item.especialidad.nombre}}</td>
                <td>{{item.especialista.nombres}} {{item.especialista.apellidos}}</td>
                <td>{{item.condicion}}</td>
            </tr>
        </tbody>
    </table>
    <epagination [totalPages]="pagination.totalPages" [currentPage]="pagination.currentPage"
        (pageChange)="changePage($event)"></epagination>
</div>